<h2 mat-dialog-title>关于</h2>
<mat-dialog-content class="mat-typography">

    <markdown [data]="markdown">
    </markdown>

    <a [routerLink]="['/view',{id:'manual.html',tp:'doc'}]" (click)="dialogRef.close()">手册</a>

    <div>
        <p>版本：v0.0.1-alpha<span class="blink" style="background-color:coral;">有更新</span></p>
        <p>本软件开源：<a href="https://github.com/CQUST-Runner/everyoneweb" target="_blank">GitHub</a></p>
        <p>App icon: <a href="https://icons8.com/icon/rix7SD7PUcwq/aeronautic" target="_blank">aeronautic</a> from <a
                href="https://icons8.com" target="_blank"> icons8 </a> </p>
        <p>作者的其他软件：</p>
        <ul>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial [matDialogClose]="true">关闭</button>
</mat-dialog-actions>