<h2 mat-dialog-title>关于</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <p>Webook是一款：</p>
        <ul>
            <li><strong>网页离线软件</strong>——将互联网有价值的内容“离线”到本地，这些内容将在所有设备可用，助力构建个人知识库；</li>
            <li><strong>“稍后阅读”软件</strong>——待阅读的文章太多？加入待读列表，规划“计划阅读”时间，还不用担心内容过期！</li>
            <li><strong>跨浏览器的书签管理软件</strong>——同时使用多个浏览器，书签却无法共享？使用Webook，在一个地方管理所有书签。</li>
        </ul>
    </div>

    <div>
        <p>版本：v0.0.1-alpha<span class="blink" style="background-color:coral;">有更新</span></p>
        <p>本软件开源：<a href="https://github.com/CQUST-Runner/webook" target="_blank">GitHub</a></p>
        <p>App icon: <a href="https://icons8.com/icon/rix7SD7PUcwq/aeronautic" target="_blank">aeronautic</a> from <a
                href="https://icons8.com" target="_blank"> icons8 </a> </p>
        <p>作者的其他软件：</p>
        <ul>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial [matDialogClose]="true">关闭</button>
</mat-dialog-actions>