<app-full-screen-spinner [isShow]="isLoading"></app-full-screen-spinner>
<!-- <app-tab-tool-bar url="save-page" title="新建"></app-tab-tool-bar> -->
<div class="container" fxLayout="column">
  <h2 style="visibility: hidden;">输入网址或导入</h2>

  <mat-card fxLayout="column" class="input-box">
    <mat-form-field fxFlex="1 1 auto" appearance="fill">
      <mat-label>url</mat-label>
      <input [(ngModel)]="value" type="url" matInput (input)="onInput($event);" placeholder="Ex. http://abc.com"
        autocomplete="off">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
        (click)="this.emailFormControl.setValue('');value='';">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
        Please enter a valid url
      </mat-error>

      <input #select_file style="display:none;" type="file" (change)="onFolderSelected($event)" webkitdirectory
        multiple />
      <button matSuffix mat-icon-button (click)="select_file.click();">
        <mat-icon>folder</mat-icon>
      </button>
    </mat-form-field>
  </mat-card>

  <div #options_container
    [class]="(emailFormControl.hasError('pattern') || emailFormControl.hasError('required')) ? 'options-container' : 'options-container options-anim'">
    <mat-card fxLayout="column" fxLayoutGap="15px" class="options">

      <mat-form-field appearance="fill">
        <mat-label>类别：</mat-label>
        <input matInput type="text" [(ngModel)]="category">
      </mat-form-field>

      <app-tags-input [availableTags]="allTags"></app-tags-input>

      <p>
        保存格式:<app-format-selection></app-format-selection>
      </p>

      <p>
        计划阅读：
        <app-date-time-picker></app-date-time-picker>
      </p>

      <div fxFlexAlign="end" fxLayout="row" fxLayoutGap="20px">
        <button (click)="openPreview();" mat-stroked-button style="min-width:150px; min-height:40px;">预览</button>
        <button (click)="savePage();" mat-flat-button style="min-width:150px; min-height:40px;">保存</button>
      </div>
    </mat-card>
  </div>
</div>