<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{page.title}}</mat-card-title>
        <mat-card-subtitle>{{page.desc}}</mat-card-subtitle>
    </mat-card-header>

    <img *ngIf="thumbnail" mat-card-image src="https://placehold.co/600x400">

    <mat-card-content>
        <!-- <div>
            <h3>标题</h3>
            <span>{{page.title}}</span>
        </div> -->

        <!-- <div *ngIf="full">
            <h3>描述</h3>
            <span>{{page.desc}}</span>
        </div> -->

        <div *ngIf="full">
            <h3>原链接</h3>
            <app-url-with-copy-btn [url]="page.sourceUrl"></app-url-with-copy-btn>
        </div>

        <div>
            <h3>短链接</h3>
            <app-url-with-copy-btn [displayName]="page.id" [url]="this.toolbox.getLocalUrl(page)">
            </app-url-with-copy-btn>
        </div>

        <div>
            <h3>类别</h3>
            <span>{{page.category}}</span>
        </div>

        <div>
            <h3>标签</h3>
            <mat-chip-list>
                <mat-chip selectable="false" *ngFor="let tag of page.tags || []">
                    {{tag}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="full">
            <h3>评级</h3>
            <app-rating [readonly]="true" [rating]="page.rating"></app-rating>
        </div>

        <div *ngIf="full">
            <h3>计划阅读</h3>
            <span>{{page.remindReadingTime?.format('YYYY/MM/DD HH:mm:ss')}}</span>
        </div>

        <div *ngIf="full">
            <h3>已读</h3>
            <mat-icon class="has-read-checkbox" *ngIf="page.markedAsRead">check_box</mat-icon>
            <mat-icon class="has-read-checkbox" *ngIf="!page.markedAsRead">check_box_outline_blank</mat-icon>
        </div>

        <div>
            <h3>保存时间</h3>
            <span>{{page.saveTime.format('YYYY/MM/DD HH:mm:ss')}}</span>
        </div>

        <div>
            <h3>文件类型</h3>
            <span>{{page.type}}</span>
        </div>

        <div *ngIf="full">
            <h3>保存来源</h3>
            <span>{{page.source}}</span>
        </div>

        <div *ngIf="full">
            <h3>保存方法</h3>
            <span>{{page.method}}</span>
        </div>

        <div *ngIf="full">
            <h3>文件存放路径</h3>
            <span>{{absPath()}}</span>
        </div>

        <div *ngIf="full">
            <h3>占用空间</h3>
            <span>{{page.sz | filesize}}</span>
        </div>

        <div *ngIf="full">
            <h3>更新时间</h3>
            <span>{{page.updateTime?.format('YYYY/MM/DD HH:mm:ss')}}</span>
        </div>
    </mat-card-content>
</mat-card>