<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="true">
    <!-- <mat-toolbar>frontend</mat-toolbar> -->
    <mat-nav-list fxLayout="column" style="height: 100%;">
      <a mat-list-item href="#save-page">
        <mat-icon [style]="root=='save-page' &&!isAboutOpen?'color: #3f51b5;':'color:dimgray;'">
          library_add</mat-icon>
      </a>
      <a mat-list-item href="#library">
        <mat-icon [style]="root=='library' &&!isAboutOpen?'color: #3f51b5;':'color:dimgray;'">
          library_books</mat-icon>
      </a>
      <a mat-list-item *ngIf="settings.showLogsEntry" href="#logs">
        <mat-icon [style]="root=='logs' &&!isAboutOpen?'color: #3f51b5;':'color:dimgray;'">bug_report
        </mat-icon>
      </a>
      <a mat-list-item href="#settings">
        <mat-icon [style]="root=='settings' &&!isAboutOpen? 'color: #3f51b5;':'color:dimgray;'">settings
        </mat-icon>
      </a>
      <a mat-list-item [style]="isAboutOpen?'color: #3f51b5;':'color:dimgray;'" href="#"
        (click)="openAbout($event,drawer);">
        <mat-icon>info</mat-icon>
      </a>

      <!-- <div fxFlex="1 1 auto"></div> -->

      <a mat-list-item [style]="darkMode?'color: #3f51b5;':'color:dimgray;'" href="#" (click)="toggleDarkMode($event)">
        <mat-icon>dark_mode</mat-icon>
        <!-- <mat-icon>light_mode</mat-icon> -->
      </a>

      <a *ngIf="root=='view'" mat-list-item (click)="refreshView()">
        <mat-icon [style]="root=='view' &&!isAboutOpen? 'color: #3f51b5;':'color:dimgray;'">pageview
        </mat-icon>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" style="height: 100vh;overflow: hidden;">
    <!-- <mat-toolbar color="primary" fxFlex="0 0 auto">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a [href]="root"> {{title}}</a></span>
    </mat-toolbar> -->
    <div fxFlex="1 1 auto" fxLayout="column" style="overflow: hidden;">
      <router-outlet (activate)="onActivated($event)"></router-outlet>
    </div>
    <!-- Add Content Here -->
    <!-- <footer fxFlex="0 0 20px">asd</footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>