.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: gainsboro;
  border: 1px solid lightgoldenrodyellow;
}

a {
  text-decoration: none;
  color: inherit;
}

a :visited {
  color: inherit;
}